In [1]:
import pandas as pd
import numpy as np

In [4]:
# load and clean Canada confirmed cases data
dfc_can = pd.read_csv('novel-corona-virus-2019-dataset/time_series_covid_19_confirmed.csv')
dfc_can.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/29/20,4/30/20,5/1/20,5/2/20,5/3/20,5/4/20,5/5/20,5/6/20,5/7/20,5/8/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,1939,2171,2335,2469,2704,2894,3224,3392,3563,3778
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,766,773,782,789,795,803,820,832,842,850
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,3848,4006,4154,4295,4474,4648,4838,4997,5182,5369
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,743,745,745,747,748,750,751,751,752,752
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,27,27,30,35,35,35,36,36,36,43

In [5]:
dfc_can = dfc_can[dfc_can['Country/Region'] == 'Canada'].reset_index(drop=True)
dfc_can.drop(columns=['Lat', 'Long'], inplace=True)
dfc_can.head()

,Province/State,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,4/29/20,4/30/20,5/1/20,5/2/20,5/3/20,5/4/20,5/5/20,5/6/20,5/7/20,5/8/20
0,Alberta,Canada,0,0,0,0,0,0,0,0,...,5165,5355,5573,5670,5766,5836,5893,5963,6017,6098
1,British Columbia,Canada,0,0,0,0,0,0,1,1,...,2087,2112,2145,2171,2171,2224,2232,2255,2288,2315
2,Grand Princess,Canada,0,0,0,0,0,0,0,0,...,13,13,13,13,13,13,13,13,13,13
3,Manitoba,Canada,0,0,0,0,0,0,0,0,...,275,277,281,282,282,283,284,286,283,284
4,New Brunswick,Canada,0,0,0,0,0,0,0,0,...,118,118,118,118,118,118,119,120,120,120

In [6]:
# load and clean Canada deaths data
dfd_can = pd.read_csv('novel-corona-virus-2019-dataset/time_series_covid_19_deaths.csv')
dfd_can = dfd_can[dfd_can['Country/Region'] == 'Canada'].reset_index(drop=True)
dfd_can.drop(columns=['Lat', 'Long'], inplace=True)
dfd_can.head()

,Province/State,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,4/29/20,4/30/20,5/1/20,5/2/20,5/3/20,5/4/20,5/5/20,5/6/20,5/7/20,5/8/20
0,Alberta,Canada,0,0,0,0,0,0,0,0,...,87,90,92,94,95,104,106,112,114,115
1,British Columbia,Canada,0,0,0,0,0,0,0,0,...,109,111,112,114,114,117,121,124,126,127
2,Grand Princess,Canada,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Manitoba,Canada,0,0,0,0,0,0,0,0,...,6,6,6,6,6,6,7,7,7,7
4,New Brunswick,Canada,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
# load and clean US confirmed cases data
us_column_drop = ['UID', 'iso2', 'iso3', 'code3', 'FIPS', 'Admin2', 'Lat', 'Long_',
                  'Combined_Key', 'Province_State', 'Country_Region']
dfc_us = pd.read_csv('novel-corona-virus-2019-dataset/time_series_covid_19_confirmed_US.csv')
dfc_us.head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,4/29/20,4/30/20,5/1/20,5/2/20,5/3/20,5/4/20,5/5/20,5/6/20,5/7/20,5/8/20
0,16,AS,ASM,16,60.0,NaN,American Samoa,US,-14.2710,-170.1320,...,0,0,0,0,0,0,0,0,0,0
1,316,GU,GUM,316,66.0,NaN,Guam,US,13.4443,144.7937,...,141,145,145,145,145,145,145,149,149,151
2,580,MP,MNP,580,69.0,NaN,Northern Mariana Islands,US,15.0979,145.6739,...,14,14,14,14,14,14,14,15,15,15
3,630,PR,PRI,630,72.0,NaN,Puerto Rico,US,18.2208,-66.5901,...,1433,1539,1575,1757,1808,1843,1924,1968,2031,2156
4,850,VI,VIR,850,78.0,NaN,Virgin Islands,US,18.3358,-64.8963,...,57,66,66,66,66,66,66,66,66,68

In [9]:
list(dfc_us.columns)

['UID',
 'iso2',
 'iso3',
 'code3',
 'FIPS',
 'Admin2',
 'Province_State',
 'Country_Region',
 'Lat',
 'Long_',
 'Combined_Key',
 '1/22/20',
 '1/23/20',
 '1/24/20',
 '1/25/20',
 '1/26/20',
 '1/27/20',
 '1/28/20',
 '1/29/20',
 '1/30/20',
 '1/31/20',
 '2/1/20',
 '2/2/20',
 '2/3/20',
 '2/4/20',
 '2/5/20',
 '2/6/20',
 '2/7/20',
 '2/8/20',
 '2/9/20',
 '2/10/20',
 '2/11/20',
 '2/12/20',
 '2/13/20',
 '2/14/20',
 '2/15/20',
 '2/16/20',
 '2/17/20',
 '2/18/20',
 '2/19/20',
 '2/20/20',
 '2/21/20',
 '2/22/20',
 '2/23/20',
 '2/24/20',
 '2/25/20',
 '2/26/20',
 '2/27/20',
 '2/28/20',
 '2/29/20',
 '3/1/20',
 '3/2/20',
 '3/3/20',
 '3/4/20',
 '3/5/20',
 '3/6/20',
 '3/7/20',
 '3/8/20',
 '3/9/20',
 '3/10/20',
 '3/11/20',
 '3/12/20',
 '3/13/20',
 '3/14/20',
 '3/15/20',
 '3/16/20',
 '3/17/20',
 '3/18/20',
 '3/19/20',
 '3/20/20',
 '3/21/20',
 '3/22/20',
 '3/23/20',
 '3/24/20',
 '3/25/20',
 '3/26/20',
 '3/27/20',
 '3/28/20',
 '3/29/20',
 '3/30/20',
 '3/31/20',
 '4/1/20',
 '4/2/20',
 '4/3/20',
 '4/4/20',
 '4/5/20',
 '4/6/20',
 '4/7/20',
 '4/8/20',
 '4/9/20',
 '4/10/20',
 '4/11/20',
 '4/12/20',
 '4/13/20',
 '4/14/20',
 '4/15/20',
 '4/16/20',
 '4/17/20',
 '4/18/20',
 '4/19/20',
 '4/20/20',
 '4/21/20',
 '4/22/20',
 '4/23/20',
 '4/24/20',
 '4/25/20',
 '4/26/20',
 '4/27/20',
 '4/28/20',
 '4/29/20',
 '4/30/20',
 '5/1/20',
 '5/2/20',
 '5/3/20',
 '5/4/20',
 '5/5/20',
 '5/6/20',
 '5/7/20',
 '5/8/20']

In [10]:
dfc_us['Province/State'] = dfc_us['Province_State']
dfc_us['Country/Region'] = dfc_us['Country_Region']
dfc_us.drop(columns=us_column_drop, inplace=True)
dfc_us.head()

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,5/1/20,5/2/20,5/3/20,5/4/20,5/5/20,5/6/20,5/7/20,5/8/20,Province/State,Country/Region
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,American Samoa,US
1,0,0,0,0,0,0,0,0,0,0,...,145,145,145,145,145,149,149,151,Guam,US
2,0,0,0,0,0,0,0,0,0,0,...,14,14,14,14,14,15,15,15,Northern Mariana Islands,US
3,0,0,0,0,0,0,0,0,0,0,...,1575,1757,1808,1843,1924,1968,2031,2156,Puerto Rico,US
4,0,0,0,0,0,0,0,0,0,0,...,66,66,66,66,66,66,66,68,Virgin Islands,US

In [11]:
dfc_us = dfc_us.groupby(['Province/State', 'Country/Region']).sum().reset_index()
dfc_us.head()

,Province/State,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,4/29/20,4/30/20,5/1/20,5/2/20,5/3/20,5/4/20,5/5/20,5/6/20,5/7/20,5/8/20
0,Alabama,US,0,0,0,0,0,0,0,0,...,6912,7088,7294,7611,7888,8112,8437,8691,9046,9385
1,Alaska,US,0,0,0,0,0,0,0,0,...,355,355,364,365,368,370,371,372,374,377
2,American Samoa,US,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Arizona,US,0,0,0,0,1,1,1,1,...,7209,7655,7969,8364,8640,8924,9305,9707,9945,10526
4,Arkansas,US,0,0,0,0,0,0,0,0,...,3193,3281,3337,3372,3437,3491,3525,3611,3703,3747

In [12]:
# load and clean US deaths data
us_column_drop = ['UID', 'iso2', 'iso3', 'code3', 'FIPS', 'Admin2', 'Lat', 'Long_',
                  'Combined_Key', 'Population', 'Province_State', 'Country_Region']
dfd_us = pd.read_csv('novel-corona-virus-2019-dataset/time_series_covid_19_deaths_US.csv')
dfd_us['Province/State'] = dfd_us['Province_State']
dfd_us['Country/Region'] = dfd_us['Country_Region']
dfd_us.drop(columns=us_column_drop, inplace=True)
dfd_us = dfd_us.groupby(['Province/State', 'Country/Region']).sum().reset_index()
dfd_us.head()

,Province/State,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,4/29/20,4/30/20,5/1/20,5/2/20,5/3/20,5/4/20,5/5/20,5/6/20,5/7/20,5/8/20
0,Alabama,US,0,0,0,0,0,0,0,0,...,256,272,289,288,290,298,315,343,369,383
1,Alaska,US,0,0,0,0,0,0,0,0,...,9,9,9,9,9,9,9,10,10,10
2,American Samoa,US,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Arizona,US,0,0,0,0,0,0,0,0,...,308,320,330,330,362,362,395,426,450,517
4,Arkansas,US,0,0,0,0,0,0,0,0,...,57,61,64,72,76,80,83,87,87,88

In [13]:
len(dfc_us)

58

In [14]:
len(dfc_can)

15

In [15]:
# concatenate data frames
dfc = pd.concat([dfc_us, dfc_can]).reset_index(drop=True)
dfd = pd.concat([dfd_us, dfd_can]).reset_index(drop=True)

In [16]:
dfc.head()

,Province/State,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,4/29/20,4/30/20,5/1/20,5/2/20,5/3/20,5/4/20,5/5/20,5/6/20,5/7/20,5/8/20
0,Alabama,US,0,0,0,0,0,0,0,0,...,6912,7088,7294,7611,7888,8112,8437,8691,9046,9385
1,Alaska,US,0,0,0,0,0,0,0,0,...,355,355,364,365,368,370,371,372,374,377
2,American Samoa,US,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Arizona,US,0,0,0,0,1,1,1,1,...,7209,7655,7969,8364,8640,8924,9305,9707,9945,10526
4,Arkansas,US,0,0,0,0,0,0,0,0,...,3193,3281,3337,3372,3437,3491,3525,3611,3703,3747

In [17]:
len(dfc)

73

In [18]:
dfc.tail()

,Province/State,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,4/29/20,4/30/20,5/1/20,5/2/20,5/3/20,5/4/20,5/5/20,5/6/20,5/7/20,5/8/20
68,Saskatchewan,Canada,0,0,0,0,0,0,0,0,...,383,389,415,421,433,467,487,512,531,544
69,Diamond Princess,Canada,0,0,0,0,0,0,0,0,...,0,0,1,1,1,1,1,1,1,1
70,Recovered,Canada,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
71,Northwest Territories,Canada,0,0,0,0,0,0,0,0,...,5,5,5,5,5,5,5,5,5,5
72,Yukon,Canada,0,0,0,0,0,0,0,0,...,11,11,11,11,11,11,11,11,11,11

In [ ]:
# save data frames
dfc.to_pickle('cleaned_data/confirmed.pkl')
dfd.to_pickle('cleaned_data/deaths.pkl')